
.idea/duckies.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
Questgen/s2v_old/cfg
Questgen/s2v_old/freqs.json
Questgen/s2v_old/key2row
Questgen/s2v_old/strings.json
Questgen/s2v_old/vectors
s2v_reddit_2015_md.tar.gz
UNKNOWN.egg-info/dependency_links.txt
UNKNOWN.egg-info/PKG-INFO
UNKNOWN.egg-info/requires.txt
UNKNOWN.egg-info/SOURCES.txt
UNKNOWN.egg-info/top_level.txt
